
.subahanAllah{
    margin-bottom: 20px;
    border: 2px solid gold;
}


#incrementBtn{
    padding: 10px;
    background-color: chartreuse;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    margin-right: 20px;
}

#decrementBtn{
    padding: 10px;
    background-color:crimson;
    color: white;
    border: none;
    font-size: 20px;
    border-radius: 10px;
}

#displayValue{
    font-size: 50px;
    color: red;
}

#reset{
    padding: 10px;
    background-color: gray;
    column-rule-color:greenyellow;
    border: none;
    border-radius: 10px;
}